<ion-view hide-nav-bar="true">
  <ion-header-bar align-title="center" class="bar-light">
	 <a href="#/tab/about" class="button icon-left ion-chevron-left button-clear button-dark"></a>
    <h1 class="title"><img class="title-image" src="../img/logo.png" width="176" height="30" /></h1>
  </ion-header-bar>
  
   <ion-content class="content-stable">
   
    <h4 align="center" class="text-dark">
      Trombinoscope de la soirée
    </h4>

	<div ng-show="consultants.length" class="list card" ng-repeat="consultant in consultants">
		<div class="item assertive">
			
			<h2>{{consultant.get('Name')}}</h2>
			<p>
			  {{consultant.get('Job')}}
			</p>
		  </div>
		  
		  <div class="item item-image">
			<img src="../img/{{consultant.get('Image')}}">
		  </div>

		  <div class="item assertive">
			<p>
			  {{consultant.get('School')}}
			  <br >
			  Promo {{consultant.get('Year')}}
			</p>
		  </div>
	</div>
    
	
	
  </ion-content>
</ion-view>
