  <ion-header-bar align-title="center" class="bar-light">
    <h1 class="title"><img class="title-image" src="../img/logo.png" width="176" height="30" /></h1>
  </ion-header-bar>
  
  <ion-content class="padding content-stable">

    <div class="list card">

      <div class="item item-avatar">
        <img src="../img/ipad.png">
        <h2>Solucom'Meeting</h2>
      </div>

      <div ng-show="parrain != null" class="item item-body">
	  
		<h3>Ton parrain</h3>
		
		<span>{{parrain.get('Name')}}</span>
	  
	  </div>
	  
	  <div class="item assertive">
	  <h2>Réaction</h2>
		<button class="button button-block button-dark" ng-click="feedback()">
			Donnez-nous votre avis !
		</button>
		
	</div>
	<div class="item assertive">
		<h2>Documents</h2>
		
		<button class="button button-block button-positive" on-tap="extfile();">Télécharger mon invitation</button>
		
		<button class="button button-block button-positive" on-tap="extfile();">Télécharger la revue de presse</button>
		
      
    </div>

   <!--  <button class="button button-block button-dark" ng-click="feedback()">
      Feeback
    </button> -->

  </ion-content>
</ion-view>
