  <ion-header-bar align-title="center" class="bar-light">
    <h1 class="title"><img class="title-image" src="../img/logo.png" width="176" height="30" /></h1>
  </ion-header-bar>
  
  <ion-content class="padding content-stable">

    <h4 align="center" class="text-dark">
      Vos ateliers
    </h4>

    <ul class="list card" ng-show="questionBlockAnswer" ng-repeat="workshop in workshops">

      <a align="center" class="item item-text-wrap" ng-click="workshop({{workshop.get('id')}})">
        {{workshop.get('title')}}
      </a>


    </ul>

  </ion-content>
</ion-view>
