  <ion-header-bar align-title="center" class="bar-light">
    <h1 class="title"><strong>Solucom</strong>'<span class="italic-text">meeting</span></h1>
  </ion-header-bar>
  
  <ion-content class="padding content-stable">

    <div class="list card">

      <div class="item assertive">
         <img src="../img/logo.png" width="176" height="30"/>
		 <br >
		 
			<p>Bienvenue {{user.get('Nom')}} ! 
			<br >Nous sommes ravis de vous confirmer votre participation à l’événement Solucom'<span class="italic-text">meeting</span> du <b>17 septembre 2015</b>.
			<br >Nous vous attendons à <b>18h30</b>, à la <b>Maison Montmartre</b>.
			</p>
	  </div>
	  
	  <div class="card">
		<ion-item>
			<h3>Pascal IMBERT vous invite à lui poser toutes vos questions</h3>
			<div class="video-container">
				<iframe src="https://www.youtube.com/embed/cjiH3rpEedw?rel=0" frameborder="0" width="560" height="315"></iframe>
			</div>
		</ion-item>
	</div>
	  
      <div ng-show="parrain != null" class="item item-body">
	  
		<h3>Ton parrain</h3>
		
		<span>{{parrain.get('Name')}}</span>
	  
	  </div>
	  
	<div class="item assertive">
		<h2>Documents</h2>
		
		<button class="button button-block button-light" on-tap="extfile2();" onclick="extfile2();">Télécharger votre invitation</button>
		
		<button class="button button-block button-light" on-tap="extfile();" onclick="extfile();">Télécharger la revue de presse</button>
		
      
    </div>

   <!--  <button class="button button-block button-dark" ng-click="feedback()">
      Feeback
    </button> -->

  </ion-content>
</ion-view>
