  <ion-header-bar align-title="center" class="bar-light">
	<h1 class="title"><strong>Solucom</strong>'<span class="italic-text">meeting</span></h1>
  </ion-header-bar>
  
  <ion-content class="padding content-stable">

    <h4 align="center" class="text-light">
      Vos espaces d’échanges
    </h4>
	 <h5 align="center" class="text-dark">
		4 sujets clés pour découvrir Solucom…et de nombreux collaborateurs pour répondre à vos questions.
		<br >Découvrez vos interlocuteurs par espace d’échanges !
	</h5>
	
	
	
	<a align="center" class="item item-text-wrap" ng-click="loadWorkshop(0)">
		Métier du conseil
	</a>

    <ul class="list card" ng-show="workshops.length" ng-repeat="workshop in workshops">

      <a align="center" class="item item-text-wrap" ng-click="loadWorkshop({{workshop.get('number')}})">
        {{workshop.get('title')}}
      </a>

    </ul>
	
  </ion-content>
</ion-view>
